<!DOCTYPE html>
<html>
<head lang="en" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<meta charset="UTF-8" />
<title>Todo App</title>
</head>
<body>
	<h1>Todo App Page</h1>
	<p th:text="'My name is '+${name}+' and my todo list is:'"></p>
	<!-- <p th:text="${todoList}"></p> -->


	<table border="2">
		<tr>
			<th>Id</th>
			<th>Description</th>
			<th>Target Date</th>
			<th>Is Complete?</th>
		</tr>
		<tr th:each="todo : ${todoList}">
			<td th:text="${todo.id}"></td>
			<td th:text="${todo.description}"></td>
			<td th:text="${todo.targetDate}"></td>
			<td th:text="${todo.Done}"></td>
		</tr>
	</table>

	<p>
		<a class="button" th:href="@{/addtodo/}">Add a Todo</a>
	</p>
</body>
</html>